{% extends 'detail.html' %}

{% block content %}
<h1>회원 수정</h1><br>
    <form action="{% url 'update' %}" method="POST">
        {% csrf_token %}

         성 : <input type="text" name="first_name" value="{{user.first_name}}">
         이름 : <input type="text" name="last_name" value="{{user.last_name}}"><br><br>
        이메일 : <input type="email" name="email" value="{{user.email}}"><br>
    </select>
        <br>
            <input type="submit" value="수정">
            <input type="button" value="취소" onclick="back()">
    </form>
<br>
<script>
    const back = () => {
        window.history.back();}
</script>
{% endblock %}